.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 100vh;
    /* Make the wrapper full height */
    margin: 0;
    /* Remove default margin */
}

button {
    margin: 5px;
    /* Add spacing around buttons if needed */
}

div {
    text-align: center;
    /* Ensure the text aligns properly */
}
app-button-list,
app-preview-area {
    flex: 1; /* Each takes 50% of available space */
  }


.content-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    width: 450px;
  }