<mat-accordion class="accordion-container">
  <mat-expansion-panel *ngFor="let button of buttons; let i = index" [expanded]="button.show">
    <mat-expansion-panel-header (click)="toggleDropdown(i)">
      <mat-panel-title>{{ button.label }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="dropdown" *ngIf="button.show">
      <div 
        class="dropdown-item" 
        *ngFor="let prompt of button.prompts"
        (mouseenter)="setPreview(prompt.image)"
        (mouseleave)="setPreview(null)"
        (click)="addToPrompt(prompt.name)">
        {{ prompt.name }}
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

